* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 300px;
    width: 330px;
    height: 100%;
    border: 2px solid rgba(0, 22, 22, 0.4);
}

header {
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

#navbar ul {
    height: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 330px;
    padding: 20px;
    margin-bottom: 110px;
}

#main-doc header {
    text-align: left;
    margin: 0;
    margin-left: 10px;
    color: rgb(211, 74, 74);
}

#main-doc li {
    margin: auto auto 10px 50px;
}

p {
    margin-bottom: 20px;
    margin-left: 10px;
    line-height: 24px;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

code {
    background-color: #79a3b1;
    width: 70%;
    display: block;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: #fcf8ec;
    font-family: 'Courier New', Courier, monospace;
}

@media(max-width: 800px) {
    #navbar{
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    #navbar ul{
        border: 1px solid;
        height: 207px;
    }
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}